body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

/* Hero */
.hero {
}

.hero-info {
  display: flex;
  margin-top: 25px;
}

.hero-info__container {
  margin-right: 50px;
}

.hero-info__name {
  font-size: 25px;
  width: 75px;
}

.hero-info__bio {
  font-size: 10px;
  width: 165px;
}

/* Menu */
.hero-menu {
}

.hero-menu__icon {
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.hero-photo {
  margin-top: 50px;
  width: 255px;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #f6f6f6;
}
.MyInf {
  margin: 35px;
}
body {
  margin: 0px;
}
.skills {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.SkillsImg {
  margin: 35px;
}
.skills {
  margin-top: 60px;
}
.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ConText {
  width: 300px;
  margin-left: 10px;
}
.ImgConBlock {
  display: flex;
}
.ImgCon {
  width: 65px;
  height: 65px;
  margin: 5px;
  margin-top: 25px;
}
.ImgSkills {
  width: 65px;
  height: 65px;
}
#CSS {
  width: 65px;
  height: 85px;
}
